# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
.eggs/
*.egg-link

# Unit test / coverage
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter
.ipynb_checkpoints

# Logs
*.log

# dotenv
.env
.env.local
.env.*.local

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
